@import "../../styles/variables.scss";

.movie-reviews {
    padding-top: 40px;

    &__wrapper {
        margin-top: 20px;
        
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    &__content {
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 20px;

        img {
            max-width: 50px;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    &__name {
        color: $font-color;
    }
    &__text {
        margin-top: 10px;
        color: $font-color;
        font-size: 17px;
    }
}

@media screen and (max-width: 576px) {
    .movie-reviews {
        &__content {
            grid-template-columns: 50vw;
        }
    }
}
