@import "../../styles/variables.scss";

.top-rated {
    &__item {
        padding: 16px;

        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        justify-items: center;

        border: 1px solid $bg-color;
        img {
            width: 180px;
            height: 280px;
            object-fit: cover;
        }
        &:hover {
            transition: 0.3s all;
            background-color: $bg-color;
        }
    }
    &__title {
        text-align: center;
        max-width: 150px;
    }
    &__genres {
        text-align: center;
        max-width: 80px;
    }
    &__details {
        justify-self: flex-end;
    }
}

@media screen and (max-width: 992px) {
    .top-rated {
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            
            border: 2px solid $bg-color;
        }
    }
}
