@import "../../styles/variables.scss";

.app {
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-weight: bold;
            font-size: 20px;
            line-height: 22px;

            li {
                a:hover {
                    transition: 0.2s all;
                    border-bottom: 2px solid $main-color;
                }
            }
        }

        &-link_active {
            border-bottom: 2px solid $main-color;
        }
    }
}

@media screen and (max-width: 992px) {
    .app {
        &__menu {
            display: none;
        }
    }
}
