@import "../../../styles/variables.scss";

.top-rated {
    background-color: #fff;
    .title {
        padding: 16px;
    }
    &__header {
        padding: 16px 24px;

        min-height: 44px;

        display: grid;
        grid-template-columns: repeat(7, 1fr);

        background-color: $bg-color;
        &__block {
            display: flex;
            justify-content: center;
            align-items: center;
            
            font-size: 18px;
        }
        :nth-child(7) {
            transform: translateX(30px);
            justify-self: flex-end;
        }
    }
}

@media screen and (max-width: 992px) {
    .top-rated {
        &__header {
            display: none;
        }
    }
}
